.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-header {
  background-color:#2DBEB7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  color: #3aa39f;
  font-size: 23px;
  background: #000;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}