.App {
  text-align: center;
  background-color:#2DBEB7;
}

.App-logo {
  height: 40vmin;
  margin-top: -10%;
  pointer-events: none;
}
.admBasicResume{
  height: 100%;
  width: 100%;
  background-color:rgba(255, 255, 255, 0.87);
}
.resumeReady{
  display: none;  
}
.App-header {
  background-color:#2DBEB7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  color: #3aa39f;
  font-size: 23px;
  background: #000;
  height: 56px;
  border: 0;
  border-radius: 5px;
  width: 100%;
}
.rw-conversation-container .rw-header{
  background-color: #000;
}

.rw-conversation-container .rw-client{
     background-color: #000 !important; 
}
.conversation-container close-button {
  background-color: #000;
}

.rw-launcher{
  background-color: #000;
}

#back{
  background-color: #2DBEB7;
}
